<h1 id="tableLabel">TEAMS</h1>

<input [(ngModel)]="teamName" />
<button (click)="onSearchClicked()">Search</button>

<p>List of teams in the database.</p>

<p *ngIf="!teams && loading"><em>Loading...</em></p>
<p *ngIf="!teams && !loading"><em>No teams listed.</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="teams">
  <thead>
    <tr>
      <th></th>
      <th>Team</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams">
      <td><img [src]="team.teamLogoBase64" style="max-height:20px" /></td>
      <td><a class="nav-link text-dark" routerLink="/team/{{team.teamId}}/20202021">{{ team.teamName }}</a></td>
      <td>{{ team.country }}</td>
    </tr>
  </tbody>
</table>
