.team-header {
  display: inline-block;
}

td {
  padding: .51429em .51429em;
}

.mapComponent {
  display: flex;
}

.mapControl {
  width: 400vh;
}

label {
  white-space: nowrap;
}

.location-text {
  padding: 15px;
}

.desc {
  font-size: 12px;
}

.team-header {
  margin-bottom: 0px !important;
}