.info-list {
  display: inline-flex !important;
}

.player-desc {
  font-size: 1em;
}

.header > .fr {
  float: unset !important;
}

.search-box {
  
  .input {
    width: 203px;
    height: 40px;
    border-color: transparent;
  }
}

.search-box > .ui.icon.input > i.icon {
  right: 15px;
}

.search-icon {
  position: absolute;
}

.loading::after {
  display: none;
}