.search-box {
  
  .input {
    width: 203px;
    height: 40px;
    border-color: transparent;
  }
}

.search-box > .ui.icon.input > i.icon {
  right: 15px;
}

.search-icon {
  position: absolute;
}

.loading::after {
  display: none;
}

.head-options-container {
  display: flex;
  .player-list-checkbox {
    width: 3.5rem !important;
    top: 0.6em;
    border-width: 0;
    padding: 0;
  }
}