.lineup-container {
  margin-top: 2em;
}

.graph-container {
  display:flex;
}

.filter-container {
  margin-right: -6em;
  z-index: 20;
}

.radial-graph {
  z-index: 0;
}

.team-stats-table {
  overflow-x: scroll;
  margin-top: 1em;
}