.standings {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.standingsMapControl {
  width: 100%;
  height: 80vh;
}

.standings-team-name {
  font-size: 1.5em;
}


td {
  padding: .4em .4em !important;
}

.bold {
  font-size: 2em;
  font-weight: bold;
}