<h1 *ngIf="player" id="tableLabel">{{player.fullName}}</h1>

<p *ngIf="player"><em>{{player.nation}}</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="player">
  <thead>
    <tr>
      <th>Season</th>
      <th></th>
      <th>Team</th>
      <th>League</th>
      <th>Nr</th>
      <th>GP</th>
      <th *ngIf="isSkater">G</th>
      <th *ngIf="isSkater">A</th>
      <th *ngIf="isSkater">PTS</th>
      <th *ngIf="isSkater">PIM</th>
      <th *ngIf="!isSkater">GAA</th>
      <th *ngIf="!isSkater">SVS%</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let season of player.playerSeasons">
      <td>{{ season.seasonId }}</td>
      <td><img [src]="season.team.teamLogoBase64" style="max-height:20px" /></td>
      <td>
        <a class="nav-link text-dark" routerLink="/team/{{season.team.teamId}}/{{season.seasonId}}">
          {{ season.team.teamName }}
        </a>
      </td>
      <td>{{ season.league.leagueShort }}</td>
      <td>{{ season.nr }}</td>
      <td>{{ season.gp }}</td>
      <td *ngIf="isSkater">{{ season.goals }}</td>
      <td *ngIf="isSkater">{{ season.assists }}</td>
      <td *ngIf="isSkater">{{ season.points }}</td>
      <td *ngIf="isSkater">{{ season.pim }}</td>
      <td *ngIf="!isSkater">{{ season.goalsAgainstAvg }}</td>
      <td *ngIf="!isSkater">{{ season.savesPercent }}</td>
    </tr>
  </tbody>
</table>
