<h1 id="tableLabel">LEAGUES</h1>

<p>List of leagues available.</p>

<p *ngIf="!leagues"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="leagues">
  <thead>
    <tr>
      <th></th>
      <th>League Short</th>
      <th>League Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let league of leagues">
      <td></td>
      <td><a class="nav-link text-dark" routerLink="/league/{{league.leagueId}}/20202021">{{ league.leagueShort }}</a></td>
      <td>{{ league.leagueName }}</td>
    </tr>
  </tbody>
</table>
