.game {
    display: inline-block;
    overflow-wrap: break-word;
    width: 50px;
    margin: 5px;
    border: 1px solid black;
}

.logo {
    max-height: 50px; 
    max-width: 50px;
}

table, th, td {
    border: 1px solid black;
  }