.App {
  margin: 1px;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  margin: 1em 5em 1em 5em;
}

.App-menu {
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
  display: inline-block;
  margin: 1px;
}

.small-logo {
  max-height: 30px; 
  max-width: 30px;
}

.tiny-logo {
  max-height: 20px; 
  max-width: 20px;
}

.mid-logo {
  max-height: 60px; 
  max-width: 60px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding-top: 1em;
}