.App {
  margin: 1px;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-menu {
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
  display: inline-block;
  margin: 5px;
}

.small-logo {
  max-height: 30px; 
  max-width: 30px;
}

.mid-logo {
  max-height: 60px; 
  max-width: 60px;
}