<img style="max-height:40px" class="images" src={{team.teamLogoBase64}} *ngIf="team"/>
<h2 id="tableLabel" *ngIf="team"><em>{{team.teamName}}</em></h2>

<p *ngIf="!team"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="team">
  <thead>
    <tr>
      <th>Nr</th>
      <th>Player</th>
      <th>Position</th>
      <th>Birthdate</th>
      <th>Birthplace</th>
      <th>Nation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of team.players">
      <td>{{ player.nr }}</td>
      <td><a class="nav-link text-dark" routerLink="/player/{{player.playerId}}">{{ player.fullName }}</a></td>
      <td>{{ player.position }}</td>
      <td>{{ player.birthdate.split("T")[0] }}</td>
      <td>{{ player.birthPlace }}</td>
      <td><img style="max-height:40px" class="images" src={{player.flagBase64}} /> {{ player.nation }}</td>
    </tr>
  </tbody>
</table>
