<h1 id="tableLabel">TEAM</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!team"><em>Loading...</em></p>

<p *ngIf="team"><img class="images" src={{team.teamLogo}} /><em>{{team.teamName}}</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="team">
  <thead>
    <tr>
      <th>Player</th>
      <th>Test</th>
      <th>Test</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of team.players">
      <td><a class="nav-link text-dark" routerLink="/player/{{player.playerId}}">{{ player.fullName }}</a></td>
      <td>{{ player.position }}</td>
      <td>{{ player.nation }}</td>
      <td>{{ player.fullName }}</td>
    </tr>
  </tbody>
</table>
