.schedule-page {
  overflow-x:scroll;
}

.game {
    display: inline-block;
    overflow-wrap: break-word;
    width: 50px;
    margin: 5px;
    border: 1px solid black;
}

.logo {
    max-height: 50px; 
    max-width: 50px;
}

table, th, td {
  border: 1px solid black;
}

.home-game {
  background-color: turquoise;
}

.home-game-tag {
  background-color: turquoise !important;
}

.away-game {
  background-color: lightblue;
}

.away-game-tag {
  background-color: lightblue !important;
}

.tag-container {
  display: flex;
  max-width: 400px;
}

.matchup-info {
  display: inline-block;
}

.emphasized-letter {
  font-weight: bold;
  font-size: xx-large;
}

.dates {
  display: flex;
  max-width: 500px;
}

.refresh-button {
  cursor: pointer;
}

.filter {
  display: inline-flex;
}